/**
 * @name Comfy peach
 * @author Nyria#3863
 * @version 2.2
 * @description Stay comfy while talking to your friends.
 * @invite rtBQX5D3bD
 * @source https://github.com/NYRI4/Comfy
 * @BDEditor Comfy
*/

@import url('https://comfy-themes.github.io/Discord/betterdiscord/main.css');
@import url('https://comfy-themes.github.io/Discord/betterdiscord/no-scrollbar.css');
@import url('https://comfy-themes.github.io/Discord/betterdiscord/better-spotify.css');

:root {
  --mention-color-bar: #C66262;
  --mention-color-background: rgb(46,8,8,0.12);
  --mention-color-hover: rgb(90,37,37,0.15);
  --mention-color: #F04747;
  --unread-color: #FBB0AA;
  --chat-buttons: #C88782;
  --avatar-radius: 5px;
  --status-radius: 3px;
  --server-radius: 8px;
  --status-background: url('https://i.imgur.com/ODa8LKK.jpg');
  --online: #43B581;
  --iddle: #FAA61A;
  --dnd: #F04747;
  --offline: #747F8D;
  --streaming: #593695;
  --spotify-color: #1EDC62;
  --user-buttons-spacing: 8px;
  --user-buttons-color: #F9A9A3;
  --role-circle: 10px;
  --discord-logo: none;
  --colored-emoji: grayscale(0%);
  --disable-animations: 2s channel-unread infinite;
}

.theme-dark {
  --background-primary: #8D615E;
  --background-secondary: #543A39;
  --background-secondary-alt: #5C4F4E;
  --background-tertiary: #755553;
  --background-mobile-primary: #52587C;
  --background-mobile-secondary: #1E2233;
  --channeltextarea-background: #3B2423;
  --background-accent: #B37975;
  --background-modifier-hover: rgba(0, 0, 0, 0.06);
  --background-modifier-active: rgba(0, 0, 0, 0.10);
  --background-modifier-selected: rgba(0, 0, 0, 0.12);
  --deprecated-card-bg: rgba(18, 20, 31, 0.39);
  --background-floating: rgb(216,162,158,1);
  --deprecated-quickswitcher-input-background: #8D6562;
  --scrollbar-auto-thumb: #C18480;
  --scrollbar-auto-track: #806563;
  --scrollbar-thin-thumb: #716564;
  --activity-card-background: #706C6C;
  --background-message-hover: transparent;
  --elevation-low: none;
}

.theme-light {
  --background-primary: #23283D;
  --background-secondary: #1E2233;
  --background-secondary-alt: #191F2E;
  --background-tertiary: #101320;
  --background-accent: #7289DA;
  --background-modifier-hover: #262B41;
  --background-modifier-active: #262B41;
  --header-primary: #fff;
  --header-secondary: #B1B5B9;
  --text-normal: #8E9297;
}

/* Any custom CSS below here */


